* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;

}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #1e1e2b;
  transition-delay: 0.5s;
}

.start-quiz {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: 'Pacifico', cursive;
 font-size: 1.2rem;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #D9E5F0;
 color: ghostwhite;
}

.start-quiz span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.start-quiz:hover span {
 color: black;
}

.start-quiz::before,
.start-quiz::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.start-quiz::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.start-quiz:hover::before {
 transform: translate3d(100%, 0, 0);
}
